html, body{
    background-color: #4f8684;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body, h2{
    margin: 0;
    padding: 0;
}

/* global elements */
h2{
    color: aquamarine;
}
h3{
    color: whitesmoke;
    margin: 8px;
}
h3.withButton{
    display: flex;
    justify-content: end;
    align-items: center;
}
select{
    max-width: 200px;
}
textarea{
    width: 100%;
    min-height: 600px;
    border-radius: 12px;
}
table{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    font-size: 14px;
}
table tr:hover{
    background-color: khaki;
}
table td, table th{
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: left;
    max-width: 200px;
    vertical-align: top;
}
table th{
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
input[type=text] {
    width: 30%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: right;
}
button{
    width: 210px;
    margin-left: 14px;
}

/* tablist */
.tabList{
    display: flex;
    background-color: #333;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.tab{
    cursor: pointer;
    padding: 16px;
    background-color: #413d58;
    margin-bottom: 8px;
    margin-left: 8px;
    border-radius: 0 0 8px 8px;
    transition: 300ms;
}
.tab:hover{
    background-color: #61b9b6;
    margin-top: 8px;
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
    text-shadow: 1px 2px 5px black;
}
.tab.active{
    background-color: #4f8684;
    margin-bottom: 0;
    margin-top: 8px;
    border-radius: 8px 8px 0 0;
}
.tab h2{
    font-size: 16px;
}

/* global */
.front{
    font-size: 17px;
}
.splitDiv_Two{
    display: flex;
}
.splitDiv_Two > div{
    width: 50%;
}
.masterDiv{
    font-size: 14px;
}
.resultDiv{
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: right;
}
.div_before_table {
    overflow: auto;
    height: calc(100% - 230px);
}
.div_before_table.igServer {
    height: calc(100% - 150px);
}
.custom-file-upload{
    margin-bottom: 233px;
}
.custom-file-upload, button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 200px;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.custom-file-upload:active, button:active,
.custom-file-upload:hover, button:hover {
    outline: 0;
}
.custom-file-upload span, button span {
    background-color: rgb(5, 6, 45);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.custom-file-upload:hover span, button:hover span {
    background: none;
}
@media (min-width: 768px) {
    .custom-file-upload, button {
        font-size: 18px;
        min-width: 160px;
    }
}
.pushable:hover {
    filter: brightness(110%);
}
.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
    outline: none;
}
.emptySearch{
    filter: invert(100%);
    width: 35px;
    height: 35px;
    margin: -13px 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.emptySearch:hover {
    transform: scale(1.1) rotate(180deg);
}

/* highlights and special styles */
mark{
    background-color: yellow;
    color: black;
}
.trueCol{
    background-color: aquamarine;
}
.falseCol{
    background-color: lightsalmon;
}
.Extern{
    background-color: lightcyan;
}
.alignRight{
    text-align: right;
}