html, body{
    background-color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.masterDiv{
    font-size: 14px;
}
.topDiv{
    width: 100%;
    text-align: center;
}
h2{
    color: red;
}
.splitDiv_Two{
    display: flex;
}
.splitDiv_Two > div{
    width: 50%;
}
textarea{
    width: 100%;
    min-height: 600px;
    border-radius: 12px;
}
.custom-file-upload{
    margin-bottom: 233px;
}
.custom-file-upload, button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 200px;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.custom-file-upload:active, button:active,
.custom-file-upload:hover, button:hover {
    outline: 0;
}

.custom-file-upload span, button span {
    background-color: rgb(5, 6, 45);
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.custom-file-upload:hover span, button:hover span {
    background: none;
}

@media (min-width: 768px) {
    .custom-file-upload, button {
        font-size: 18px;
        min-width: 160px;
    }
}
.pushable:hover {
    filter: brightness(110%);
}
.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}
.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
    outline: none;
}